<app-drawer>
    <ng-container main-content>
        <div id="container">
            <mat-card>
                @if (encontrado){
                <mat-card-header>
                    <mat-card-title>
                        <p>Update Announcement</p>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="form">
                        <h6>Title</h6>
                        <mat-form-field class="example-full-width">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title" maxlength="50" placeholder="Title">
                            <mat-hint align="start">Enter a title</mat-hint>
                            <mat-hint align="end">{{ form.get('title')?.value?.length || 0 }} / 50</mat-hint>
                        </mat-form-field>

                        <h6 class="description">Description</h6>
                        <mat-form-field class="example-full-width">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" maxlength="500"></textarea>
                            <mat-hint align="start">Enter a description</mat-hint>
                            <mat-hint align="end">{{ form.get('description')?.value?.length || 0 }} / 500</mat-hint>
                        </mat-form-field>

                        <h6 class="description">Date</h6>
                        <mat-form-field>
                            <mat-label>Pick a date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="date">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <div class="footer">
                            <section >
                                <div class="icon-text-container">
                                  <mat-icon style="font-size: 16px; width: 16px; height: 16px;" fontIcon="arrow_back_ios"></mat-icon>
                                  <span (click)="volver()">Back to announcements</span>
                                </div>            
                              </section>
                              <div id="boton">
                                  <button mat-flat-button color="primary" type="submit"
                                      (click)="updateAnnouncement()">Update</button>
                              </div>

                        </div>
                    </form>
                </mat-card-content>}
                @else{
                <mat-card-header class="notfound">
                    <p>Announcement not found</p>
                    <section >
                        <div class="icon-text-container">
                          <mat-icon style="font-size: 16px; width: 16px; height: 16px;" fontIcon="arrow_back_ios"></mat-icon>
                          <span (click)="volver()">Back to announcements</span>
                        </div>            
                      </section>
                </mat-card-header>
            }
            </mat-card>
        </div>
    </ng-container>
</app-drawer>