<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="over"
    (opened)="events.push()"
    (closed)="events.push()"
  >
  <app-drawer-list></app-drawer-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar>
      <ng-container toolbar-menu-button>
        <button style="margin: 0 10px 0 0" mat-icon-button class="menu-button" aria-label="open drawer menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>
    </app-toolbar>
    <ng-content select="[main-content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
