app-drawer {
  background-color: transparent;
}

ng-container {
  background-color: transparent;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.description {
  margin-top: 20px;
}

#description-input {
  padding-bottom: 60px;
  max-height: 100px;
  min-height: 100px;
}

mat-hint {
  color: white;
  margin-left: -15px;
}

mat-card-title {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}

mat-card {
  border-radius: 20px;
  border: 0.001px solid rgb(18, 18, 18);
  padding: 20px;
  width: 60%;
  min-width: 650px;;
  height: auto;
  background-color: #0c0d0ffc;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#boton {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #0a0a0a;
  justify-content: right;
}

button {
  font-size: 20px;
  height: 40px;
  width: 130px;
  margin-top: 25px;
  border-radius: 10px;
  justify-self: right;
}

button:hover {
  background-color: #f6c90e;
  color: white;
}