app-drawer {
    background-color: transparent;
}

ng-container {
    background-color: transparent;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    align-content: center;
}

mat-card-subtitle {
    color: rgba(255, 255, 255, 0.418);
}

.fila {
    flex-direction: row;
    width: 100%;
    display: flex;
}

.columna {
    flex-direction: column;
    width: 100%;
    display: flex;
}

.padre {
    border-radius: 20px;
    border: 0.001px solid rgb(18, 18, 18);
    padding: 40px;
    width: 60%;
    min-width: 650px;
    height: auto;
    background-color: #252525e7;
    box-shadow: 5px 5prgba(37, 37, 37, 0.76) rgba(0, 0, 0, 0.2);
    margin: 100px auto;

    .principal {
        font-size: 50px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 20px;
    }
}

.hija {
    border-radius: 20px;
    border: 0.001px solid rgb(18, 18, 18);
    padding: 20px;
    width: 100%;
    background-color: #0c0d0ffc;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    color: white;

    mat-card-title {
        font-size: 36px;
        display: flex;
        margin-right: 2.5%;
        width: 70%;
    }
}

.no-announcements {
    margin-top: 40px;
    transform: translate(35%, 0);
    font-style: italic;
    color: white;
}

mat-divider {
    color: white;
    width: 100%;
}

#boton {
    display: flex;
    color: #0a0a0a;
    justify-content: right;
    width: 25%;
    margin-right: 2.5%;
    margin-bottom: 25px;
    margin-top: -5px;
}

button {
    background-color: rgb(255, 187, 0);
    font-size: 20px;
    height: 40px;
    width: 130px;
    text-align: center;
    border-radius: 10px;
}

button:hover {
    background-color: #770000;
    color: white;
    cursor: pointer;
}